/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  width: 100%;
  height: 100%;
}

:focus {
  outline: none;
}

.paysense-body {
  font-family: 'Poppins', sans-serif;
}

.paysense-body header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.paysense-form {
  box-shadow: 0 17px 71px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  width: 100%;
}

.pd-36-top {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}

.left-panel {
  float: left;
  width: 41%;
  height: 100%;
  background-image: linear-gradient(180deg, #8b96f5 0%, #505fef 100%);
  position: relative;
}

.left-panel-inner {
  padding: 3.5rem;
}

.left-panel-inner h1 {
  text-align: center;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 4rem;
}

.right-panel {
  float: right;
  width: 59%;
  box-sizing: border-box;
  padding: 2rem;
}

.flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.payscence-illus {
  position: absolute;
  bottom: 0;
}

.payscence-illus img {
  width: 100%;
  display: block;
}

.font-30 {
  font-size: 3rem;
}

.font-39 {
  font-size: 3.8rem;
}

.bold-font {
  font-weight: 600;
}

.left-panel-inner ul {
  margin: 4rem auto 0;
  padding: 0;
}

.left-panel-inner ul li {
  background: url(../images/paysense-images/white-tick.png) 0px 5px no-repeat;
  list-style: none;
  color: #ffffff;
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  z-index: 999;
  position: relative;
}

.right-panel ul {
  margin: 2.5rem auto 0;
  padding: 0;
}

.right-panel ul li {
  display: inline-block;
  margin-right: 4rem;
  font-size: 1.6rem;
  color: #999999;
}

.right-panel ul li:last-child {
  margin-right: 0;
}

.active-listing {
  color: #333333 !important;
}

.span-list-active {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #727de2;
  color: #fff;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  margin-right: 1.5rem;
}

.span-list-inactive {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #ebebeb;
  text-align: center;
  line-height: 35px;
  color: #b2b2b2;
  display: inline-block;
  margin-right: 1.5rem;
}

.right-panel h5 {
  font-size: 2rem;
  color: #727de2;
  text-align: center;
  padding-top: 4rem;
  font-weight: 500;
}

.right-panel h5+p {
  font-size: 14px;
  color: #666666;
  text-align: center;
  padding-bottom: 6.3rem;
}

.right-panel .form-group {
  margin-bottom: 3.7rem;
}

.right-panel h2 {
  color: #5b5e68;
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}

.right-panel h3 {
  color: #141db8;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2.9rem;
}

.paysense-input {
  width: 100%;
  height: 5.1rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 2px #e7ecee;
  background: #fff;
  color: #131417;
}

.paysense-input::placeholder {
  font-size: 1.4rem;
  color: #9195a4;
  text-transform: uppercase;
}

.dark-text {
  color: #131417 !important;
}

.light-text {
  color: #9195a4;
}

.terms-label {
  font-weight: normal;
  font-size: 1.2rm;
  color: #9195a4;
  width: 95%;
}

.right-panel .checkbox {
  float: left;
  margin-right: 1rem;
}

.right-panel label {
  font-weight: normal;
  color: #4d4f5c;
}

.radiomain {
  font-size: 12px;
  color: #9195a4;
  text-transform: uppercase;
}

.pd-top-226 {
  padding-top: 220px;
}

.pd-top-226 img {
  max-width: 400px;
  width: 100%;
}

.right-panel h6 {
  font-size: 3.1rem;
  color: #333333;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.8rem;
}

.right-panel-text {
  font-size: 16px;
  color: #3f3f3f;
}

/* checkbox starts */

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox+label {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  color: #707070;
  padding: 0;
  line-height: 2rem;
}

.checkbox+label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  border: solid thin#00d195;
  border-radius: 3px;
}

.checkbox:hover+label:before {
  background: #00d195;
}

.checkbox:checked+label:before {
  background: #00d195;
}

.checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}

.checkbox:checked+label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-ie {
  position: absolute;
  left: 0;
  top: 1.2px;
  width: 15px;
  height: 15px;
  border: solid thin #00d195;
  border-radius: 3px;
}

/*check box ends */
/***** radio starts***********/
.btm-no-mr {
  position: relative;
}

.right-panel .radio {
  margin-top: 0;
  margin-bottom: -9px;
}

.radio {
  display: inline-block !important;
  padding-right: 20px;
  font-size: 1.4rem;
  line-height: 42px;
  cursor: pointer;
}

.radio:last-child {
  padding-right: 0;
}

.radio:hover .inner {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
  opacity: .5;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked+.outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:checked+.outer {
  border: 2px solid #46ade8;
}

.radio input:focus+.outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #00d195;
}

.radio .outer {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 12px 9px 10px 0;
  border: 2px solid #999;
  border-radius: 50%;
  background-color: #fff;
}

.radio .inner {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px auto;
  border-radius: 50%;
  background-color: #00d195;
  opacity: 0;
}

/***** radio ends***********/

/******* file*****/
input[type="file"] {
  width: 100%;
  color: #4A5BA9;
  font-weight: normal;
  position: absolute;
  cursor: pointer;
  height: 40px;
  opacity: 0;
  margin: 0;
}

input[type="file"]:checked+div {
  width: 100%;
  position: absolute;
  top: 0;
  color: #2FBF71;
  line-height: 3.8rem;
  font-weight: normal;
  cursor: pointer;
  height: 40px;
  background: #F2FBF7;
  border: 1px solid #2FBF71;
  border-radius: 3px;
}

input[type="file"]+div i {
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  margin: 0;
}

.upload {
  color: #00bc86;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}


/****** file ends***/


button[name="proceed"] {
  width: 244px;
  height: 50px;
  border-radius: 2px;
  border: none;
  display: block;
  margin: 2rem auto 0;
  background-color: #00bc86;
  color: #ffffff;
}

.proceed-disable {
  background-color: #ededed;
  max-width: 22rem;
  width: 100%;
  text-transform: uppercase;
  padding: 1rem 0rem;
  color: #a7a5a5;
  border: solid thin #d0cfcf;
}

.proceed-btn {
  background-color: #00bc86;
  max-width: 22rem;
  width: 100%;
  text-transform: uppercase;
  padding: 1rem 0rem;
}

.proceed-btn:hover,
.proceed-btn:focus {
  background-color: #00bc86;
}

.display-uploaded-image {
  width: 110px;
  height: 57px;
  border: solid thin #eceaea;
  border-radius: 0.5rem;
}

.width144 {
  width: 114px;
}

.radio-box {
  width: 100%;
  color: #989c99;
  line-height: 3.8rem;
  font-weight: normal;
  cursor: pointer;
  height: 40px;
  border: 1px solid #afc3f2;
  position: relative;
  margin-right: 10px;
  border-radius: 3px;
}

.upload-box-white-bg {
  border-radius: 6px;
  border: 1px solid #eeeff7;
  padding: 1rem 1rem 1.5rem 1rem;
  margin-bottom: 2.5rem;
}

.upload-box-white-bg h4 {
  font-size: 1.4rem;
  color: #333333;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.upload-box-white-bg h4+p {
  font-size: 1rem;
  color: #a8a9c1;
  padding-bottom: 1.5rem;
}

.upload-box-white-bg .form-group {
  margin-bottom: 1rem;
}

.upload-box-white-bg .paysense-input {
  height: 4.1rem;
  font-size: 1.3rem;
  text-transform: none;
}

.paysense-input.error {
  border-bottom: 2px solid red;
  color: #4d4f5c !important;
}

.error {
  color: red !important;
  padding-top: 0.5rem;
}

#file-upload-error,
#permanentAddressProof-error {
  position: absolute;
  display: block;
  bottom: -4.2rem;
  font-size: 1.3rem;
}

#currentaddressProof-error,
#employmentProof-error,
#cancelledCheque-error,
#uploadPhoto-error {
  position: absolute;
  display: block;
  bottom: -3.5rem;
  font-size: 1.3rem;
}

#documentType-error,
#permanentAddress-error {
  font-size: 1.3rem;
}

img[alt="thanks-paysence"] {
  width: 100%;
}

/*..............new style.............*/
.description-table table {
  font-size: 1.3rem;
  color: #868686;
}

.description-table table span {
  font-size: 1.5rem;
  display: block;
  font-weight: 600;
  color: #425367;
  margin-top: 0.2rem;
}

.select-radio {
  position: relative;
  width: 65px;
  margin: 1rem auto 0;
}

input[name="planID"] {
  width: 65px;
  height: 34px;
  position: relative;
  opacity: 0;
  z-index: 2
}

input[name="planID"]+span {
  width: 65px;
  height: 34px;
  position: absolute;
  border: solid thin #bbbfea;
  border-radius: 50px;
  line-height: 34px;
  text-align: center;
  left: 0;
  color: #bbbfea;
}

input[name="planID"]:checked+span {
  width: 65px;
  height: 34px;
  background: #727de2;
  text-align: center;
  position: absolute;
  z-index: 2;
  line-height: 34px;
  color: #d7d9f7;
}

.select_amount .table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
  padding: 0.3rem;
  text-align: center;
}

.select_amount_head {
  font-size: 1.3rem;
  display: block;
  font-weight: 600;
  color: #425367;
  margin-top: 0.2rem;
}

.select-amount-tr-bg {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #fff;
}

.text-left {
  text-align: left !important;
}

/*.............. new style ..............*/

@media (max-width:767px) {
  .left-panel {
    float: none;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #8b96f5 0%, #505fef 100%);
    position: relative;
  }

  .left-panel_update,
  .right-panel_update {
    width: 100% !important;
  }

  .left-panel-inner {
    padding: 2.5rem;
  }

  .left-panel-inner h1 {
    text-align: center;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 4rem;
  }

  .right-panel {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
  }

  .flex-container {
    display: block;
  }

  .right-panel ul {
    margin: 2.5rem auto 0;
    padding: 0;
    text-align: center;
  }

  .span-list-active,
  .span-list-inactive {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    display: block;
    margin: 1rem auto;
    line-height: 1.9rem;
  }

  .payscence-illus {
    display: none;
  }

  .left-panel-inner ul {
    display: none;
  }

  .left-panel-inner h1 {
    text-align: left;
    font-size: 2rem;
  }

  .font-30 {
    font-size: 1.6rem;
  }

  .font-39 {
    font-size: 2rem;
  }

  .mobile-bg {
    display: block;
  }

  .left-panel-inner {
    background: #727ff2 url(../images/mobile-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .left-panel-inner h1 {
    padding-top: 0rem;
    margin-bottom: 0;
    text-shadow: #2d3794 1px 1px 3px;
  }

  .right-panel h5+p {
    padding-bottom: 3rem;
  }

  .right-panel h3 {
    color: #141db8;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2.9rem;
    line-height: 2.5rem;
  }

  img[alt="thanks-paysence"] {
    display: none;
  }

  .pd-top-226 {
    padding-top: 20px;
  }

  .right-panel h6 {
    font-size: 2.5rem;
  }

  .right-panel-text {
    font-size: 14px;
    color: #3f3f3f;
  }

  .mr-top-20 {
    margin-top: 2rem;
  }
}

@media (min-width:300px) and (max-width:380px) {
  .right-panel ul li {
    font-size: 1rem;
    margin-right: 0.3rem;
  }
}

@media (min-width:381px) and (max-width:767px) {
  .right-panel ul li {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
}

@media (min-width:768px) and (max-width:999px) {
  .left-panel {
    float: left;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(180deg, #8b96f5 0%, #505fef 100%);
    position: relative;
  }

  .right-panel {
    float: right;
    width: 60%;
    box-sizing: border-box;
    padding: 2rem;
  }

  .right-panel ul li {
    font-size: 1.2rem;
    margin-right: 4rem;
  }

  .span-list-active,
  .span-list-inactive {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    display: block;
    margin: 1rem auto;
    line-height: 1.9rem;
  }

  .mr-top-20 {
    margin-top: 2rem;
  }
}

@media (min-width:1000px) and (max-width:1200px) {
  .right-panel ul li {
    font-size: 1.3rem;
    margin-right: 3rem;
  }

  .span-list-active,
  .span-list-inactive {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    line-height: 2.5rem;
  }
}


.left-panel-inner h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 1rem;
  line-height: 34px;
}

.left-panel-inner ul li:first-child {
  background: none;
  padding-left: 0;
  padding-bottom: 1.5rem;
}

.left-panel-inner p {
  color: #fff;
  z-index: 999;
}

.left-panel_update {
  width: 38%;
}

.right-panel_update {
  width: 62%;
}

.name,
.prequalified {
  font-size: 16px;
  color: #fff;
  display: block;
}

.name {
  margin: 25px 0 5px;
}

#paysense {
  max-width: 355px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: none;
  margin: 3rem auto 0;
  background-color: #00bc86;
  color: #ffffff;
}